<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <a href="/">
                    <h3 class="v-title"><span class="color-1 bb">Merry</span> Corner</h3>
                </a>
                <p class="text-white pt-3">Our latest news, articles, and resources, we will sent to your inbox weekly.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-12 ps-lg-5">
                <h3>QUICK LINKS</h3>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Schedule</a></li>
                </ul>
            </div>
            <div class="col-lg-3 ps-lg-5 col-md-6 col-12">
                <h3>OFFICE ADDRESS</h3>
                <p class="text-white mb-1">2315 West Arbors Drive, Suite 200</p>
                <p class="text-white mb-1">Charlotte, NC, 28262</p>
                <p class="text-white mb-1">+1 (980) 306-4845</p>
            </div>
        </div>
    </div>
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-12">
                <p class="mb-0 text-white">&copy; 2023 Copyright: Merry Corner</p>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/sitescript.js}"></script>
</footer>